@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #212121;
  font-weight: 700;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #FFF;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------HEADER------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;
}

.header__body {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header__body {
    min-height: 60px;
  }
}

.header__logo {
  flex: 0 0 238px;
}
@media (max-width: 992px) {
  .header__logo {
    flex: 0 0 222px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    flex: 0 0 134px;
    padding: 0px 20px 0px 0px;
  }
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  display: flex;
}
@media (max-width: 992px) {
  .logo {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
.logo:hover {
  cursor: pointer;
}

.logo__web {
  color: #2196F3;
}

.logo__studio {
  color: #000;
}

.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 24px;
    height: 17px;
    position: relative;
    z-index: 2;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    top: 7px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0px;
  }
  .header__burger:after {
    bottom: 0px;
  }
}
@media (max-width: 767px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
  }
}
@media (max-width: 767px) {
  .header__burger.active:hover:before {
    background-color: #2196F3;
  }
}
@media (max-width: 767px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 767px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 7px;
  }
  .header__burger.active:after:hover {
    background-color: #2196F3;
  }
}
@media (max-width: 767px) {
  .header__burger.active:hover:after {
    background-color: #2196F3;
  }
}

.header__nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 48px 40px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .header__nav.active {
    top: 0;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 302px 0px;
  }
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin: 0px 53px 0px 0px;
}
@media (max-width: 992px) {
  .menu__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }
}
@media (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
}

.menu__link {
  font-weight: 500;
  letter-spacing: 0.28px;
  color: inherit;
}
.menu__link:hover {
  color: #2196F3;
  cursor: pointer;
}
@media (min-width: 767px) {
  .menu__link:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -33px;
    background-color: #2196F3;
    border-radius: 2px;
  }
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 40px;
    letter-spacing: 0.8px;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts > :not(:last-child) {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 992px) {
  .header__contacts {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__contacts > :not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 767px) {
  .header__contacts {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0px 0px 64px 0px;
  }
}

@media (max-width: 767px) {
  .contacts__item {
    font-weight: 500;
  }
  .contacts__item:not(:last-child) > a {
    font-size: 24px;
    letter-spacing: 0.48px;
  }
  .contacts__item:last-child {
    margin: 0px 0px 32px 0px;
  }
  .contacts__item:last-child > a {
    font-size: 30px;
    letter-spacing: 0.68px;
  }
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.28px;
}
.contacts__link:hover {
  color: #2196f3;
  cursor: pointer;
}
@media (max-width: 992px) {
  .contacts__link {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.contacts__link-envelope {
  line-height: 12px;
  padding: 0px 0px 0px 26px;
}
@media (max-width: 767px) {
  .contacts__link-envelope {
    padding: 0px 0px 0px 0px;
  }
}

.contacts__link-smartphone {
  line-height: 16px;
  padding: 0px 0px 0px 20px;
}
@media (max-width: 767px) {
  .contacts__link-smartphone {
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 767px) {
  .contacts__icon-envelope {
    min-height: 12px;
    background-image: url("../images/header/envelope.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@media (min-width: 767px) {
  .contacts__icon-envelope--hover {
    min-height: 12px;
    background-image: url("../images/header/envelope_hover.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@media (min-width: 767px) {
  .contacts__icon-smartphone {
    min-height: 16px;
    background-image: url("../images/header/smartphone.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 767px) {
  .contacts__icon-smartphone--hover {
    min-height: 16px;
    background-image: url("../images/header/smartphone_hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -10px;
}
@media (min-width: 767px) {
  .header__social {
    display: none;
  }
}

.social__item {
  padding: 0px 10px;
  position: relative;
}
.social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.social__link {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 122.222%;
  letter-spacing: 0.36px;
}

/*----PAGE*/
.page {
  flex: 1 1 auto;
}

/*----MAIN-BLOCK*/
.main-block {
  margin: 80px 0px 0px 0px;
  background-image: url("../images/mainblock/main_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
@media (max-width: 767px) {
  .main-block {
    margin: 60px 0px 0px 0px;
  }
}
@media (max-width: 1270px) {
  .main-block {
    background-image: url("../images/mainblock/main_tablet.jpg");
  }
}
@media (max-width: 550px) {
  .main-block {
    background-image: url("../images/mainblock/main_mobile.jpg");
  }
}

.main-block__background {
  background-color: rgba(47, 48, 58, 0.4);
}

.main-block__body {
  padding: 17% 0px 17% 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__block__title {
  max-width: 59.5%;
  margin: 0px 0px 30px 0px;
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .main__block__title {
    font-size: 26px;
    line-height: 161.538%;
    letter-spacing: 1.56px;
  }
}

.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 32px;
  min-height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
}
@media (max-width: 992px) {
  .main-block__button {
    padding: 5px 24px;
  }
}

/*----ADVANTAGES*/
.advantages {
  background-color: #FFF;
  padding: 94px 0px;
}
@media (max-width: 1200px) {
  .advantages {
    padding: 60px 0px;
  }
}

.advantages__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  flex: 0 1 25%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1200px) {
  .advantages__column {
    flex: 1 1 50%;
  }
}
@media (max-width: 497px) {
  .advantages__column {
    flex: 1 1 100%;
  }
}

.item-advantages__icon {
  border-radius: 4px;
  background: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  margin: 0px 0px 30px 0px;
}

.item-advantages__description > :not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-advantages__title {
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.item-advantages__text {
  color: #757575;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}

/*----ACTIVITY*/
.activity {
  background-color: #FFF;
  padding: 0px 0px 94px 0px;
}
@media (max-width: 992px) {
  .activity {
    display: none;
  }
}

.activity__header {
  text-align: center;
  margin: 0px 0px 50px 0px;
  font-size: 36px;
  letter-spacing: 1.08px;
}

.activity__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.activity__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}

.item-activity__image {
  padding: 0px 0px 79.46% 0px;
}

/*----TEAM*/
.team {
  background-color: #F5F4FA;
  padding: 94px 0px;
}
@media (max-width: 1110px) {
  .team {
    padding: 60px 0px;
  }
}

.team__header {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 1110px) {
  .team__header {
    margin: 0px 0px 30px 0px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media (max-width: 560px) {
  .team__header {
    margin: 0px 0px 30px 0px;
  }
}

.team__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px -30px;
}

.team__column {
  padding: 0px 15px 30px;
  flex: 0 1 25%;
  max-width: 100%;
}
@media (max-width: 1110px) {
  .team__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 500px) {
  .team__column {
    flex: 0 1 100%;
  }
}

.item-team {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item-team__image {
  padding: 0px 0px 96.3% 0px;
  margin: 0px 0px 30px 0px;
}

.item-team__text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin: 0px 0px 16px 0px;
  padding: 0px 10px;
}
.item-team__text > :not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-team__name {
  font-weight: 500;
}

.item-team__position {
  color: #757575;
  font-weight: 400;
}

.social-item {
  max-width: 202px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item__link .social-item__link-circle {
  position: relative;
}
.social-item__link .social-item__link-icon {
  position: absolute;
}
.social-item__link .social-item__link-icon path {
  transition: all 1s ease 0s;
}
.social-item__link:hover .social-item__link-circle path {
  fill: #2196F3;
}
.social-item__link:hover .social-item__link-icon path {
  fill: white;
}

/*----CLIENTS*/
.clients {
  background-color: #FFF;
  padding: 94px 0px;
}
@media (max-width: 1110px) {
  .clients {
    padding: 60px 0px;
  }
}

.clients__header {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 1110px) {
  .clients__header {
    margin: 0px 0px 30px 0px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.clients__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px -30px;
}

.clients__column {
  flex: 0 1 16.6667%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1110px) {
  .clients__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 500px) {
  .clients__column {
    flex: 0 1 50%;
  }
}

.clients__item {
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-column__link svg path {
  transition: all 0.5s ease 0s;
}
.item-column__link:hover svg path {
  fill: #2196F3;
}

/*----FOOTER*/
.footer {
  background-color: #2F303A;
  padding: 72px 0px 60px 0px;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0px -60px 0px;
}
@media (max-width: 1110px) {
  .footer__body {
    justify-content: space-around;
  }
}

.footer__about-us {
  flex: 0 0 231px;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 1110px) {
  .footer__about-us {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .footer__about-us {
    flex: 0 1 100%;
  }
}

.about-us__logo {
  display: block;
  margin: 0px 0px 20px 0px;
}

.logo__studio-footer {
  color: #FFF !important;
}

.contacts-footer__address {
  display: block;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.42px;
  margin: 0px 0px 9px 0px;
}

.contacts-footer__info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  line-height: 171.429%;
  letter-spacing: 0.42px;
}
.contacts-footer__info > :not(:last-child) {
  margin: 0px 0px 9px 0px;
}

.contacts-footer__email {
  color: inherit;
  display: block;
}

.contacts-footer__phone {
  color: inherit;
  display: block;
}

.footer__social {
  flex: 0 1 206px;
}
@media (max-width: 1110px) {
  .footer__social {
    text-align: center;
  }
}

.social-footer__header {
  color: #FFF;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 590px) {
  .footer-list {
    margin: 0px 0px 60px 0px;
  }
}

.footer-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list__link .footer-list__link-circle {
  position: relative;
}
.footer-list__link .footer-list__link-icon {
  position: absolute;
}
.footer-list__link:hover .footer-list__link-circle path {
  fill: #2196F3;
  fill-opacity: 1;
}
.footer-list__link .footer-list__link-circle path {
  transition: all 1s ease 0s;
}

.footer__form {
  flex: 0 1 48.72%;
}
@media (max-width: 1110px) {
  .footer__form {
    flex: 0 1 100%;
    text-align: center;
    margin: 0px 0px 60px 0px;
  }
}

.form-footer__header {
  color: #FFF;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.form__subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1110px) {
  .form__subscription {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 590px) {
  .form__subscription {
    flex-direction: row;
    justify-content: center;
  }
}
.form__subscription input {
  margin: 0px 12px 20px 0px;
  flex: 1 1 auto;
  height: 50px;
  padding: 0px 0px 0px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
}
@media (max-width: 1110px) {
  .form__subscription input {
    margin: 0px 0px 20px 0px;
    flex: 0 0 auto;
    width: 450px;
  }
}
@media (max-width: 590px) {
  .form__subscription input {
    width: 100%;
  }
}
.form__subscription button {
  flex: 0 0 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1110px) {
  .form__subscription button {
    width: 200px;
    flex: 0 0 auto;
  }
}
.form__subscription button img {
  padding: 0px 0px 0px 10px;
}